html {
  background: black;
  margin: 0;
}

body {
  margin: 0;
  font-size: 12px;
}

#base-content-wrapper,
footer {
  max-width: 1100px;
  padding-left: 8%;
  padding-right: 8%;
  margin: 0 auto;
}

/* settings for content block */
#base-content-wrapper {
  color: white;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list a {
  text-decoration: none;
  color: #dbdbdb;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.color-transition {
  transition: color 0.3s;
}

header {
  margin: 0;
  padding: 0;
  background: rgb(159, 159, 159);
  background: linear-gradient(
    180deg,
    rgba(159, 159, 159, 1) 21%,
    rgba(27, 27, 27, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-bottom: 13px;
}

.header-wrapper {
  margin: 0;
  border: none;
  display: flex;
  background: black;
  padding: .8% 0;
  width: 100%;
  background: black;
}

.nav {
  padding: 6px;
  flex-grow: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  gap: 1.5em;
}

.nav-list li:nth-last-of-type(1) {
  margin-right: auto;
}

.nav-list li:nth-last-of-type(3) {
  margin-left: auto;
}

.nav-list a:hover,
.nav-list a:focus {
  color: white;
}

footer {
  color: #dbdbdb;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: .85rem;
  font-weight: 100;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
  padding: 0;
}

.footer-column {
  float: left;
  height: 4rem;
}

.footer-column:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-column:nth-child(1),
.footer-column:nth-child(3) {
  width: 25%;
}

.fill-white {
  background: white;
  border: 0.2em solid white;
  border-radius: 1em;
}

.linkedin-icon {
  background: white;
  border: 0.15em solid white;
  border-radius: 0.3em;
}

.instagram-icon {
  background: white;
  border: 0.12em solid white;
  border-radius: 0.4em;
}

.smooth-hover {
  transition: background-color 0.3s, border-color 0.3s;
}

footer img:hover {
  background-color: rgb(146, 146, 146);
  border-color: rgb(146, 146, 146);
  cursor: pointer;
}

#snake-game {
  height: 100%;
  width: 13em;
  display: inline-grid;
  grid-gap: 1px;
  background-color: rgb(0, 0, 0);
}

#snake-game > div {
  background-color: black;
}

@media all and (min-width: 501px) {
  header {
    display: block;
  }
  footer {
    display: block;
  }
  #mobile-header {
    display: none;
  }
}

@media all and (max-width: 500px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  #mobile-header {
    display: block;
  }
}

@media all and (max-width: 890px) {
  #snake-game {
    display: none;
  }
}

@media all and (min-width: 891px) {
  #snake-game {
    display: inline-grid;
  }
}