#mobile-header {
  background: lightcoral;
  padding: .5em;
}

.hamburger-menu {
    width: fit-content;
}

.hamburger-menu-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.last-bar {
    margin-bottom: 0;
}