// Fonts managing file.
// Add fonts here.

@font-face {
    font-family: "AstroFace";
    src: url("../fonts/AstroSpace.ttf");
}
@font-face {
    font-family: "Atmospheric";
    src: url("../fonts/Atmospheric.ttf");
}
@font-face {
    font-family: "RocketRinder";
    src: url("../fonts/RocketRinder.ttf");
}
@font-face {
    font-family: "Timeburner";
    src: url("../fonts/Timeburner.ttf");
}
@font-face {
    font-family: "TimeburnerBold";
    src: url("../fonts/TimeburnerBold.ttf");
}