<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
    <title>{% block title %}Ryan Bender{% endblock %}</title>
</head>
<header>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Experience</a></li>
        </ul>
    </nav>

</header>
{% block body %}{% endblock %}
<footer>
    footer
</footer>

</html>