<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/base_mobile.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base_utils.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'js/live.js' %}"></script>
        {% block head %}{% endblock %}
        <title>{% block title %}Ryan Bender{% endblock %}</title>
    </head>
    <body>
        <div id="mobile-header">
            <div class="hamburger-menu">
                <span class="hamburger-menu-bar"></span>
                <span class="hamburger-menu-bar"></span>
                <span class="hamburger-menu-bar last-bar"></span>
            </div>
        </div>
        <header>
            <div class="header-wrapper">
                <nav class="nav">
                    <ul class="nav-list">
                        <li><a href="#" class="color-transition
                                hover-underline-animation">Home</a></li>
                        <li><a href="#" class="color-transition
                                hover-underline-animation">Experience</a></li>
                        <li><a href="#" class="color-transition
                                hover-underline-animation">Projects</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="base-content-wrapper">
            {% block content %}{% endblock %}
        </div>
        <br>
        <br>
        <br>
        <footer>
            <div class="footer-column"><div id="snake-game"></div></div>
            <div class="footer-column"><ul><li>Website designed and developed by Ryan Bender</li></ul></div>
            <div class="footer-column"><ul>
                    <li><img src="{% static 'images/github.svg' %}"
                            title="GitHub"
                            class="fill-white smooth-hover" alt="GitHub" /></li>
                    <li><img src="{% static 'images/linkedin.svg' %}"
                            title="Linkedin"
                            class="linkedin-icon smooth-hover"
                            alt="Linkedin" /></li>
                    <li><img src="{% static 'images/instagram.svg' %}"
                            title="Instagram"
                            class="instagram-icon smooth-hover"
                            alt="Instagram" /></li>
                </ul></div>
        </footer>
    </body>
</html>