<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/base_mobile.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'js/live.js' %}"></script>
        <title>{% block title %}Ryan Bender{% endblock %}</title>
    </head>
    <div id="mobile-header">
        <div class="hamburger-menu">
            <span class="hamburger-menu-bar"></span>
            <span class="hamburger-menu-bar"></span>
            <span class="hamburger-menu-bar last-bar"></span>
        </div>
    </div>
    <header>
        <div class="header-wrapper">
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %}{% endblock %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer>
        Website designed and developed by Ryan Bender
        <img src="{% static 'images/github.svg' %}" title="GitHub" class="fill-white smooth-hover" alt="GitHub"/>
    </footer>
</html>