{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
<section id="first-section">
    <div class="inner">
        <img id="main-home-pic" src="{% static 'images/home_pic.png' %}" alt="Ryan">
        <h1>Ryan Bender</h1>
        <h2>Full-Stack Developer</h2>
    </div>
</section>
<section id="contact-info-section">
    <div class="inner">
        <h1>Contact Information</h1>
        <ul class="contact-info-list">
            <li>
                <h2>Phone #:</h2>
                <a href="tel: 5404232187">(540) 423-2187</a>
            </li>
            <li>
                <h2>Email:</h2>
                <a href="mailto: ryan.bender.general@gmail.com">ryan.bender.general@gmail.com</a>
            </li>
        </ul>
    </div>
</section>
<div class="spacer" style="background-image: url({% static 'images/s1-to-s2.svg' %});"></div>
<section id="summary-section">
    <div class="inner">
        <h1>Summary</h1>
        <p>Ipsum anim excepteur minim esse laborum. Nulla dolore deserunt dolor do laboris aliquip proident ut dolore est dolor consequat. Mollit dolor minim minim ea ut in excepteur. Ea enim elit non proident dolore.</p>
    </div>
</section>
<div class="spacer" style="background-image: url({% static 'images/s3-to-s4.svg' %});"></div>
<section id="stats-section">
    <div class="inner">
        <h1>Stats</h1>
        <ul class="stats-list"></ul>
    </div>
</section>
<div class="spacer" style="background-image: url({% static 'images/s4-to-footer.svg' %});"></div>
{% endblock %}
