{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section id="section1">
    <img src="{% static 'images/home_pic.png' %}" alt="Ryan">
    <div class="heading-text">
        <div style="font-size: 3.8rem;">Ryan Bender</div>
        <div style="font-size: 2.7rem;">Full-Stack Developer</div>
    </div>
    <h1>Contact Info</h1>
    <ul>
        <div><span class="info-title">Number:</span><span>(540) 423-2187</span></div>
        <div><span class="info-title">Email:</span><span>ryan.bender.general@gmail.com</span></div>
        <div><span class="info-title"></span><span></span></div>
        <div><span class="info-title"></span><span></span></div>
    </ul>
    
</section>
<div class="spacer" style="background-image: url({% static 'images/s1-to-s2.svg' %});"></div>
<section id="section2">
    <h1>Information</h1>
    <ul>
        <div><span class="info-title">Age:</span><span>23</span></div>
        <div><span class="info-title">Years Of Experience:</span><span>2</span></div>
        <div><span class="info-title"></span><span></span></div>
        <div><span class="info-title"></span><span></span></div>
    </ul>
</section>
<div class="spacer" style="background-image: url({% static 'images/s2-to-footer.svg' %});"></div>
{% endblock %}
