{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<h1>Header 1</h1>
<p>Est consectetur labore quis eu et ut veniam labore in veniam eu minim. Dolore
    duis dolor nulla in. Sunt do aliqua proident fugiat ea nisi reprehenderit
    deserunt dolore non adipisicing qui. Aliqua officia qui nulla mollit aliqua
    quis est adipisicing cillum. Incididunt dolor sit enim incididunt
    exercitation deserunt mollit duis. Ut veniam dolor ipsum in commodo quis
    magna minim do consectetur velit sit. Pariatur excepteur qui et enim.
    Ullamco sit ex nisi non sunt aliquip. Lorem dolor ad incididunt do elit
    minim ea eu reprehenderit mollit eu ut. Consectetur enim magna ut minim
    culpa id commodo et proident ut irure anim. Laborum mollit dolor qui ipsum
    in labore mollit. Est culpa eu adipisicing sint sit laborum. Magna laborum
    esse esse cillum anim aliqua pariatur esse eiusmod aute elit. Anim mollit
    pariatur excepteur adipisicing cupidatat aute.</p>
<p>Lorem duis dolore cillum cupidatat officia irure cillum occaecat sit. Ex
    consequat est anim irure ad sunt ea sint est ad id. Amet consequat
    exercitation nostrud pariatur irure pariatur anim minim aute. Commodo tempor
    aliqua ullamco labore dolor Lorem duis labore do cupidatat. Cillum velit
    excepteur labore fugiat elit elit.</p>
{% endblock %}
